body {
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.buttonLess {
  background: rgb(65, 188, 156);
}

.buttonMore {
  background: rgb(191, 11, 27);
}

.buttonAll {
  background: rgb(21, 24, 32);
}
